<section>


<% if (playlist) {%> 
  <h1><%= playlist.name %></h1>
    <img src="<%= playlist.image %>" height="380px"></img>
    <iframe src="https://open.spotify.com/embed/playlist/<%= playlist.spotifyid %>" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
  
    <form action="/favorites/playlist?_method=DELETE" method="POST">
      <button type="submit">Remove Playlist</button>
    </form>
<% } %>
</section>