body {
  background: url('../img/goldbackground.png');
  /* background-color:brown; */
}

#header {
  display: inline-block;
 background: url('../img/goldbar.jpg');
 background-repeat: repeat-x;
 
  height: 100px;
  width: 100%;
  padding: 0px;
}

#header>h1 {
  font-family: 'Abril Fatface', cursive;
  color: black;
  text-align: center;
  font-size: 50px;
  padding: 30px;
}

.boxes {
  display: grid;
  grid-template-columns: 250px 200px 250px 250px 200px 250px ;
  grid-template-rows: 250px 50px 250px 50px 250px;
  margin-top: 50px;
  padding: 0px;
  justify-content: center;
  align-content: center;
  
}

.boxes>#gearbox {
  grid-column: 1;
  grid-row: 1;
  background-color: black;
  height: 300px;
  width: 225px;
  border: 5px solid black;
  padding:0px;
  margin-top: 50px;
  
}

/* .boxes>#gearbox>#trivia-plate {
  /* grid-column: 1;
  grid-row: 2; */
  /* background: url('../img/silverplate.png');
  height: 50px;
  width: 150px;
  padding:0px;
  margin:0px;
  font-size: 0px;
} */ 

.boxes>#gearbox>#trivia-plate>h1 {
  background: url('../img/silverplate.png');
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  color: black;
 
  text-align:center;
}

.boxes>#box-b {
  grid-column: 1;
  grid-row: 3 ;
  background-color: black;
  height: 250px;
  width: 225px;


}

.boxes>#box-c {
  grid-column: 1;
  grid-row: 5 ;
  background-color: black;
  height: 250px;
  width: 225px;
}

.boxes>#box-d {
  grid-column: 3/ 4;
  grid-row: 1 / 5 ;
 background-color: black;
  height: 850px;
  width: 500px;
  float: right;
}

.boxes>#box-e {
  grid-column: 6;
  grid-row: 1;
  background-color: black;
  height: 250px;
  width: 225px;;
}

.fav-boxes {
  display: grid;
  grid-template-columns: 250px 250px 100px 250px 250px 100px 250px 250px ;
  grid-template-rows: 200px 50px 250px 50px 250px 50px;
  /* margin: auto; */
  padding: 50px;
  justify-content: center;
  align-content: center;
  
}
.fav-boxes>#fav-a {
  grid-column: 3 / 5;
  grid-row: 1 ;
  background-color: black;
  height: 100px;
  width: 600px;
  color: white
}

.fav-boxes>#fav-b {
  grid-column: 1 / 2;
  grid-row: 2 / 6 ;
  background-color: black;
  height: 600px;
  width: 450px;
  color: white;
}

.fav-boxes>#fav-c {
  grid-column: 4 / 5;
  grid-row: 2 / 6 ;
  background-color: black;
  height: 600px;
  width: 450px;
  color: white;
}

.fav-boxes>#fav-d {
  grid-column: 7 / 8;
  grid-row: 2 / 6 ;
  background-color: black;
  height: 600px;
  width: 450px;
  color: white;
  float: left;
}

#footer {
  position:absolute;
  background: url('../img/goldbar.jpg');
 background-repeat: repeat-x;
  height: 75px;
  width: 100%;
}