/********* FEATURE PAGES ********/
h1 a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

h2, label {
  color: black;
  font-size: 1.4rem;
  margin: 10px;
  text-transform: uppercase;
  font-weight: 800;
}

h3 {
  font-weight: 800;
  margin: 15px;
  color:black;
}

form {
  margin: 25px;
}

form input, form select {
  width: 200px;
  border: none;
  height: 2rem;
  border-radius: 5px;
  display: inline;
}

form label {
  text-transform: uppercase;
  font-size: 1.4rem;
  margin: 10px 0px;
}

.container {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  width: 70vw;
  max-width: 700px;
}

.flex-form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  padding: 10px;
}


.flex-form label {
  flex-basis: 50%;
  text-align: left;
}

.flex-form input, .flex-form select {
  flex-basis: 50%;
  text-align: left;
}

.buttonRight {
  margin-left: auto;
}

.board-search-container {
  width: 50%;
  text-align: left;
}

.board-search-container h2 {
  text-align: center;
  margin-bottom: 30px;
}

#trending, #rank {
  height: inherit;
  width: auto;
}

#boardgames {
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
}
#boardsearch {
  width: 100%;
}


.container button { 
  cursor: pointer;
  background-color:#ffffff;
  border-radius: 5px;
  border: none;
  text-decoration:none;
  padding: 5px;
  height: 2rem;
  font-size: 1rem;
  text-transform: uppercase;
}

#search-result {
  margin: 25px auto;
}

.playlist-img {
  height: 380px;
}

#playlist-img-partial {
  width: 300px;
}

#not-found>#box-b>#inner{
  left: inherit;
}

#not-found h2 {
  font-size: 2rem;;
}

/************* favorites - mjm **********/

.fav-outer {
  text-align: center;
}

.fav-inner {
  position: relative;
  top: 36px;
  left: 36px;
  overflow: auto;
  height: 89%;
  width: 86%;
}

.deleteButton {
  cursor: pointer;
  border: none;
}

.deleteButton img {
  width: 100px;
  height: 50px;
}

.favTitle {
  display:flex;
  background: url('../img/silverplate1.png');
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
  font-family: 'Rye', cursive;
  font-size: 1.2rem;
  color: black;
  padding: 20px;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  text-decoration: none;
  cursor: pointer;
}

.favLink {
  text-decoration: none;
  color: black;
}

/********* ABOUT US PAGE ********/

#about-us {
  display: flex;
  width: 70vw;
  margin: 50px auto;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

#about-us h3 {
  color: white;
  width: 100%;
  margin: 25px;
}

.person img {
  width: 200px;
  border-radius: 50%;
  margin: 25px;
}
