/********* START SHARED ********/

h1 a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

form input {
  width: 200px;
  border: none;
  height: 2rem;
  border-radius: 5px;
}

form {
  margin: 25px;
}

.container {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
}

.container button { 
  margin: 10px;
  cursor: pointer;
  background-color:#ffffff;
  border-radius: 5px;
  border: none;
  text-decoration:none;
  padding: 5px;
  height: 2rem;
  text-transform: uppercase;
}



/********* END SHARED ********/






/********* START PLAYLIST PAGE ********/


#playlist {
  margin: 25px auto;
}

#playlist h2 {
  color: white;
  font-size: 1.4rem;
  margin: 10px;
  text-transform: uppercase;
}

/********* END PLAYLIST PAGE ********/