/**** Header *****/

header {
  background: url('../img/goldbar.jpg');
  background-repeat: repeat-x;
  height: 100px;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header h1 {
  font-family: 'Abril Fatface', cursive;
  color: black;
  font-size: 3rem;
}

header a, header a:visited {
  text-decoration: none;
  color: inherit;

}

nav img {
  background-color: white;
}

#small-nav {
  display: none;
}

@media only screen and (max-width: 950px) {
  header h1 {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 830px) {
  header h1, #big-nav {
    display: none;
  }

  #small-nav {
    display: flex;
  }
}

.container button { 
  cursor: pointer;
  background-color:#ffffff;
  border-radius: 5px;
  border: none;
  text-decoration:none;
  padding: 5px;
  height: 2rem;
  font-size: 1rem;
  text-transform: uppercase;
}


/****** Sub Header ******/

.subheader {
  background: url('../img/silverplate4.png');
  height: 100px;
  width: 500px;
  color: white;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;;
}

.subheader>h1 {
  font-family: 'Rye', cursive;
  font-size: 40px;
  color: black;
}

/********* Feature Pages Shared Styles ********/
h1 a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

h2, label {
  color: black;
  font-size: 1.4rem;
  margin: 10px;
  text-transform: uppercase;
  font-weight: 800;
}

h3 {
  font-weight: 800;
  margin: 15px;
  color:black;
}

form {
  margin: 25px;
}

form input, form select {
  width: 200px;
  border: none;
  height: 2rem;
  border-radius: 5px;
  display: inline;
}

form label {
  text-transform: uppercase;
  font-size: 1.4rem;
  margin: 10px 0px;
}

.container {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  width: 70vw;
  max-width: 700px;
}

.flex-form {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  padding: 10px;
  margin: 25px auto;
}

.flex-form label {
  flex-basis: 50%;
  text-align: left;
}

.flex-form input, .flex-form select {
  flex-basis: 50%;
  text-align: left;
}

.buttonRight {
  margin-left: auto;
}

fieldset p {
  margin: 25px;
}

/***** Board Games Page  *****/

.board-search-container {
  width: 50%;
  text-align: left;
}

.board-search-container h2 {
  text-align: center;
  margin-bottom: 30px;
}

#trending, #rank {
  height: inherit;
  width: auto;
}

#boardgames {
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
}
#boardsearch {
  width: 100%;
}

/****** Playlist Page ******/

.playlist-img {
  height: 380px;
}

#playlist-img-partial {
  width: 300px;
}

/************* Favorites **********/

.fav-outer {
  text-align: center;
}

.fav-inner {
  position: relative;
  top: 36px;
  overflow: auto;
  height: 89%;
  width: 86%;
  margin: auto auto;
}

.deleteButton {
  cursor: pointer;
  border: none;
}

.deleteButton img {
  width: 100px;
  height: 50px;
}

.favTitle {
  display:flex;
  background: url('../img/silverplate1.png');
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
  font-family: 'Rye', cursive;
  font-size: 1.2rem;
  color: black;
  padding: 20px;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  text-decoration: none;
  cursor: pointer;
}

.favLink {
  text-decoration: none;
  color: black;
}

/***** About Us Page *****/

#about-us {
  display: flex;
  width: 70vw;
  margin: 50px auto;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

#about-us h3 {
  color: white;
  width: 100%;
  margin: 25px;
}

.person img {
  width: 200px;
  border-radius: 50%;
  margin: 25px;
}


/****** Not Found / 404 Page ******/

#not-found>#box-b>#inner{
  left: inherit;
}

#not-found {
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid white;
  border-radius: 12px;
}

#not-found h2 {
  font-size: 2rem;;
}


/***** Favorites *****/
.fav-boxes {
  display: flex;
  flex-wrap: wrap;
  margin: 50px auto;
  justify-content: space-evenly;
  align-content: space-between;
  gap: 15px;
}

.fav{
  background: url("../img/favframe2.png");
  height: 500px;
  width: 500px;
  color: white;
}

@media only screen and (min-width: 1024px) {
  .fav-boxes {
    display: flex;
}
  .fav{
    background: url("../img/favframe1.png");
    height: 750px;
    width: 500px;
  }
}