body {
  background: url('../img/gold768.png');
}

.boxes {
  display: grid;
  grid-template-columns: 100px 250px 250px 100px;
  grid-template-rows: 850px 65px 250px 65px 250px 85px;
  padding: 0px;
  justify-content: center;
}

.boxes>#gearbox {
  grid-column: 2;
  grid-row: 5;
  background-color: black;
  height: 250px;
  width: 225px;
  border: 5px solid black;
}

.boxes>#triviabutton {
  grid-column: 2;
  grid-row: 5;
  margin-top: 150px;
}

.boxes>#box-b {
  grid-column: 3;
  grid-row: 3;
  background-color: black;
  height: 250px;
  width: 225px;
}

.boxes>#gamesbutton {
  grid-column: 3;
  grid-row: 4;
}

.boxes>#box-c {
  grid-column: 2;
  grid-row: 3;
  background: url('../img/porthole2.png');
  height: 250px;
  width: 225px;
}

.boxes>#playlistbutton {
  grid-column: 2;
  grid-row: 4;
}

.boxes>#box-d {
  grid-column: 2 / 3;
  grid-row: 1;
  background-color: black;
  height: 850px;
  width: 500px;
  float: right;
}

.boxes>#box-d>.contraption {
  display: grid;
  grid-template-columns: 250px 250px;
  grid-template-rows: 100px 250px 250px 150px 100px;
  background-color: darkgray;
}

.boxes>#box-d>.contraption>#box-1 {
  grid-column: 1 / span 2;
  grid-row: 1;
  background: url('../img/silverplate4.png');
}

.boxes>#box-d>.contraption>#box-1 h1 {
  font-family: 'Rye', cursive;
  font-size: 40px;
  color: black;
  padding: 20px;
  text-align: center;
}

.boxes>#box-d>.contraption>#box-2 {
  grid-column: 1;
  grid-row: 2;
  background-color: black;
}

.boxes>#box-d>.contraption>#box-3 {
  grid-column: 2;
  grid-row: 2;
  background-color: black;
}

.boxes>#box-d>.contraption>#box-4 {
  grid-column: 1;
  grid-row: 3;
  background-color: green;
}

.boxes>#box-d>.contraption>#box-5 {
  grid-column: 2;
  grid-row: 3;
  background: url("../img/frame.png");
}

.boxes>#box-d>.contraption>#box-6 {
  grid-column: 1 / span 2;
  grid-row: 4;
  background: url("../img/gauges1.png");
  background-repeat: repeat-x;
}

.boxes>#box-d>.contraption>#box-7 {
  grid-column: 1 / span 2;
  grid-row: 5;
  background: url('../img/metalrustybg.png');
  background-repeat: repeat-x;
}

.boxes>#box-e {
  grid-column: 3;
  grid-row: 5;
  background: url("../img/silverswirl.png");
  height: 150px;
  width: 225px;
}

.boxes>#favbutton {
  grid-column: 3;
  grid-row: 5;
  margin-top: 150px;
}

.fav-boxes {
  display: grid;
  grid-template-columns: 50px 250px 250px 50px;
  grid-template-rows: 50px 100px 25px 500px 25px 500px 25px 500px 25px;
  margin: auto;
  padding: 0px;
  justify-content: center;
  align-content: center;
}

.fav-boxes>#fav-a {
  grid-column: 2 / 3;
  grid-row: 2;
  background: url('../img/silverplate4.png');
  height: 100px;
  width: 500px;
  color: white
}

.fav-boxes>#fav-a h1 {
  font-family: 'Rye', cursive;
  font-size: 40px;
  color: black;
  padding: 20px;
  text-align: center;
}

.fav-boxes>#decoration1 {
  grid-column: 2 / span 3;
  grid-row: 1;
  padding: 0px;
  align-content: center;
}

.fav-boxes>#decoration1>img {
  position: relative;
  height: 50px;
  margin-top: 0px;
  left: 120px;
}

.fav-boxes>#fav-b {
  grid-column: 2 / 3;
  grid-row: 4;
  background: url("../img/favframe2.png");
  height: 500px;
  width: 500px;
  color: white;
}

.fav-boxes>#fav-c {
  grid-column: 2 / 3;
  grid-row: 6;
  background: url("../img/favframe2.png");
  height: 500px;
  width: 500px;
  color: white;
}

.fav-boxes>#fav-d {
  grid-column: 2 / 3;
  grid-row: 8;
  background: url("../img/favframe2.png");
  height: 500px;
  width: 500px;
  color: white;
  float: left;
}

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  background: url('../img/goldbar.jpg');
  background-repeat: repeat-x;
  height: 75px;
  width: 100%;
}

/* animations */
.boxes>#gearbox {
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
  height: 150px;
  padding: 0px;
  margin: 0px;
}

.boxes>#gearbox>#gear-01 {
  position: absolute;
  top: 0px;
  left: 110px;
  width: 74px;
  height: 74px;
  animation-name: gear-01-ani;
  animation-duration: 10s;
  animation-delay: 0s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: normal;
  transform: rotate(0deg);
}

@keyframes gear-01-ani {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.boxes>#gearbox>#gear-02 {
  position: relative;
  top: -75px;
  left: 110px;
  width: 57px;
  height: 58px;
  animation-name: gear-02-ani;
  animation-duration: 8s;
  animation-delay: 0s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: reverse;
  transform: rotate(0deg);
}

@keyframes gear-02-ani {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.boxes>#gearbox>#gear-03 {
  position: relative;
  top: -180px;
  left: 83px;
  width: 31px;
  height: 31px;
  animation-name: gear-03-ani;
  animation-duration: 4s;
  animation-delay: 0s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: reverse;
  transform: rotate(0deg);
}

@keyframes gear-03-ani {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.boxes>#gearbox>#gear-04 {
  position: absolute;
  top: 55px;
  left: 160px;
  width: 160px;
  height: 160px;
  animation-name: gear-04-ani;
  animation-duration: 29.75s;
  animation-delay: 0s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: normal;
  transform: rotate(0deg);
}

@keyframes gear-04-ani {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.boxes>#gearbox>#gear-05 {
  position: absolute;
  top: -70px;
  left: -70px;
  width: 160px;
  height: 160px;
  animation-name: gear-05-ani;
  animation-duration: 28.5s;
  animation-delay: 0s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: normal;
  transform: rotate(0deg);
}

@keyframes gear-05-ani {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

#boxes>#box-b {
  animation-duration: 2s;
  animation-iteration-count: infinite;
  background-color: black;
  height: 145px;
  width: 200px;
  margin: 0 auto 0 auto;
  transform-origin: bottom;
}

#hat {
  animation-duration: 2s;
  animation-iteration-count: infinite;
  background-color: black;
  height: 145px;
  width: 200px;
  margin: 0 auto 0 auto;
  transform-origin: bottom;
}

#bounce-3 {
  animation-name: bounce-3;
  animation-timing-function: ease;
}

@keyframes bounce-3 {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

.boxes>#box-c>#fade {
  position: relative;
  top: 80px;
  left: 98px;
  -webkit-animation: fade 10s alternate infinite;
  animation: fade 3s alternate infinite;
}

@-webkit-keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.boxes>#box-e>#heart {
  position: relative;
  left: 30px;
  animation-name: bounce;
  perspective: 1200px;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  -webkit-animation-name: bounce;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 5s;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  10%, 20% {
    transform: scale(0.9) rotate(-3deg);
  }
  30%, 50%, 70%, 90% {
    transform: scale(1.3) rotate(3deg);
  }
  40%, 60%, 80% {
    transform: scale(1.3) rotate(-3deg);
  }
  100% {
    transform: scale(1) rotate(0);
  }
}