<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href= "style/style.css" />
  <title>Game Night</title>

</head>
<body>
  
<header>
  <div id ="header"><h1>GAME NIGHT</h1></div>
</header>
<a href="/favorites">favorites</a>
<main>
  <section class = "boxes">
 
  <div id="gearbox">
    <img src="../img/background.png" height="150">
     <div id = "gear-01"><img src="../img/gear-01.png"></div>
     <div id = "gear-02"><img src="../img/gear-02.png"></div>
     <div id = "gear-03"><img src="../img/gear-03.png"></div>
     <div id = "gear-04"><img src="../img/biggear1.png"></div>
     <div id = "gear-05"><img src="../img/biggear1.png"></div>
     <div id="trivia-plate"><h1>TRIVIA</h1></div>
    </div>
    

  <div id = "box-b">
    <img src="../img/hat1.png">
    </div>
  


  <div id = "box-c">c </div>
  <div id = "box-d">d </div>
  <div id = "box-e">e </div>
  
</section> 
 
  </main>

<footer>
  <div id ="footer">footer</div>
</footer>
</body>
</html>