<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href= "style/style.css" />

  <link rel="stylesheet" type="text/css" media="only screen and (max-width: 470px)" href="styles/screen-max-470.css"/>
  <link rel="stylesheet" type="text/css" media="only screen and (max-width: 768px)" href="style/screen-min-768.css"/>
  <link rel="stylesheet" type ="text/css" media="only screen and (min-width: 769px)" href="style/screen-min-1024.css"/>

 

  <title>Game Night</title>

</head>
<body>
  

<header>
  <div id ="header"><h1>GAME NIGHT</h1></div>
</header>
<div class="navbar">
  <div class = "nav">
  <div id="home"><img src="../img/homebutton.png"></div>
  <div id="about"><a href="/aboutus"><img src="../img/aboutbutton.png"></a></div>
  <div id="fav"><a href="/favorites"><img src="../img/favbutton1.png"></a></div>
</div>
</div>



<main>
  <section class = "boxes">
  

    <div id="gearbox">
      <img src="../img/background.png" height="150">
      <div id = "gear-01"><img src="../img/gear-01.png"></div>
      <div id = "gear-02"><img src="../img/gear-02.png"></div>
      <div id = "gear-03"><img src="../img/gear-03.png"></div>
      <div id = "gear-04"><img src="../img/biggear1.png"></div>
      <div id = "gear-05"><img src="../img/biggear1.png"></div>
    </div>

    <div id="triviabutton"><a href="/playlist"><img src="../img/triviabutton.png" height="50" width="100"></a></div> 
    
    <div id="piperight2"><img src="../img/piperight.png"></div>
    <div id="piperight"><img src="../img/piperight.png"></div>
    <div id="pipeleft"><img src="../img/pipeleft.png"></div>
    <div id="pipeleft2"><img src="../img/pipeleft.png"></div>

    <div id="box-b">
      <div id="inner"><img src = "../img/hat1.png"></div>
  </div>
  
  <div id="gamesbutton"><a href="/playlist"><img src="../img/gamesbutton.png" height="50" width="100"></a></div> 

  <div id = "box-c">
  <div id="fade">
    <img src="../img/musicnotes.png">
    </div>
  </div>

 <div id="playlistbutton"><a href="/playlist"><img src="../img/playlistbutton.png" height="50" width="100"></a></div> 
  
  <div id = "box-d">
  <div class="contraption">
    <div id="box-1"><h1>FUN FINDER 3000</h1></div>
    <div id="box-2"><img src="../img/metalpanel.png"></div>
    <div id="box-3"><img src="../img/pulleyclock.png"></div>
    <div id="box-4"><img src="../img/clock1.png"></div>
    <div id="box-5">
      <h2>Click the links to plan the perfect Game Night!</h2>
    </div>
    <div id="box-6"></div>
    <div id="box-7"></div>
    
    
    
  </div>  
  
  </div>
  
  <div id = "box-e">
    <div id="heart"><img src="../img/heart2.png"></div>
  </div>
  <div id="favbutton"><a href="/favorites"><img src="../img/favbutton.png" height="50" width="100"></a></div> 

  
</section> 
 
  </main>

<footer>
  <div id ="footer"></div>
</footer>
</body>
</html>