<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../layout/head') %>
  <title>About Us</title>
</head>

<body>
  <header>
    <%- include('../layout/header') %>
  </header>
  
  
<div class="subheader"><h1>ABOUT US</h1></div>
  <div id="about-us">
    <h3>
      We're the Sweet Potatoes-- a group of students at Code Fellows eager to begin their careers as software
      engineers. Thanks for visiting Game Night!
    </h3>
    <section class="person">
      <img src="../img/groupphotos/logan.png">
      <h2>Logan Jones</h2>
    </section>
    <section class="person">
      <img src="../img/groupphotos/campbell.jpg">
      <h2>Michael Campbell</h2>
    </section>
    <section class="person">
      <img src="../img/groupphotos/mandell.jpg">
      <h2>Michael Mandell</h2>
    </section>
    <section class="person">
      <img src="../img/groupphotos/deanna.jpg">
      <h2>Deanna Johnson</h2>
    </section>
  </div>
</body>

</html>