<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../layout/head') %>
  <title>About Us</title>
</head>

<body>
  <header>
<<<<<<< HEAD
    <div id ="header"><h1>GAME NIGHT</h1></div>
    
  <div class="navbar">
    <div class = "nav">
   
    <div id="home"><a href="/"><img src="../img/homebutton.png"></a></div>
    <div id="about"><a href="/aboutus"><img src="../img/aboutbutton.png"></a></div>
    <div id="fav"><a href="/favorites"><img src="../img/favbutton1.png"></a></div>
    <div id="playlist-nav"><a href="/playlist"><img src="../img/playlist-button-nav.png"></a></div>
    <div id="boardgame-nav"><a href="/boardgames"><img src="../img/boardgame-button-nav.png"></a></div>
    <div id="trivia-nav"><a href="/trivia"><img src="../img/trivia-button-nav.png"></a></div>
   
  </div>
  </div>
  
=======
    <%- include('../layout/header') %>
>>>>>>> 7fc0c5ffb6217b4713dc4fbd7b1aa7e4b0190313
  </header>
  
  
<div id = "aboutUsHeader"><h1>ABOUT US</h1> </div>
  <div id="about-us">
    <h3>
      We're the Sweet Potatoes-- a group of students at Code Fellows eager to begin their careers as software
      engineers. Thanks for visiting Game Night!
    </h3>
    <section class="person">
      <img src="../img/groupphotos/logan.png">
      <h2>Logan Jones</h2>
    </section>
    <section class="person">
      <img src="../img/groupphotos/campbell.jpg">
      <h2>Michael Campbell</h2>
    </section>
    <section class="person">
      <img src="../img/groupphotos/mandell.jpg">
      <h2>Michael Mandell</h2>
    </section>
    <section class="person">
      <img src="../img/groupphotos/deanna.jpg">
      <h2>Deanna Johnson</h2>
    </section>
  </div>

  <footer>
    <div id ="footer"></div>
  </footer>
</body>

</html>