<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../layout/head') %>
  <title>Board Games</title>
</head>

<body>
  <header>
    <div id ="header"><h1>GAME NIGHT</h1></div>
  </header>
  <div id = "boardGameHeader"><h1>BOARD GAMES</h1> </div>
  <div class="container">
    <form action="/gameresults" method="POST">
      <!-- <label><span>
          Find games by:
          <input type="radio" name="orderby" value="trending">Trending
          <input type="radio" name="orderby" value="rank" >Rank</span>
      </label>
      <p>Or</p> -->
      <input type="text" name="gamename" placeholder="Title of Game">
      <button id="boardgames" type="submit">Search Games</button>

    </form>
  </div>

</body>

</html>