<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../layout/head') %>
  <title>Board Games</title>
</head>

<body>
  <header>
    <div id ="header"><h1>GAME NIGHT</h1></div>
    
    <div class="navbar">
    <div class = "nav">
    
    <div id="home"><a href="/"><img src="../img/homebutton.png"></a></div>
    <div id="about"><a href="/aboutus"><img src="../img/aboutbutton.png"></a></div>
    <div id="fav"><a href="/favorites"><img src="../img/favbutton1.png"></a></div>
    <div id="playlist-nav"><a href="/playlist"><img src="../img/playlist-button-nav.png"></a></div>
    <div id="boardgame-nav"><a href="/boardgames"><img src="../img/boardgame-button-nav.png"></a></div>
    <div id="trivia-nav"><a href="/trivia"><img src="../img/trivia-button-nav.png"></a></div>
   </div>
  </div>
  </header>
  <div class = "boardgamesearch">

  <div id = "boardGameHeader"><h1>BOARD GAMES</h1> </div>
  <div class="container">
    <form action="/gameresults" method="POST">
      <label><span>
         <h3>Find games by:</h3> 
          <input type="radio" name="orderby" value="trending">Trending
          <input type="radio" name="orderby" value="rank" >Rank</span>
      </label>
      <label><span>
      <h3>Or Search by Title</h3>
      <input type="text" name="gamename" placeholder="Title of Game"></span>
      <p><button id="boardgames" type="submit">Search Games</button></p>
      </label>
    </form>
  </div>

</div>

  <footer>
    <div id ="footer"></div>
  </footer>
</body>

</html>