<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../layout/head') %>
  <title>Board Games</title>
</head>

<body>
  <header>
    <%- include('../layout/header') %>
  </header>
  <div id = "boardGameHeader"><h1>BOARD GAMES</h1> </div>

  <div class="container">
    <form action="/gameresults" method="POST">
      <label>
        <h3>Find games by:</h3>
        <input type="radio" name="orderby" value="trending">Trending
        <input type="radio" name="orderby" value="rank">Rank
      </label>
      <label>
        <h3>Or Search by Title</h3>
        <input type="text" name="gamename" placeholder="Title of Game"></span>
      </label>
      <div>
        <button id="boardgames" type="submit">Search Games</button>
      </div>
    </form>
  </div>

</body>

</html>