<h1><a href="/">GAME NIGHT</a></h1>
<div class="navbar">
  <div class="nav">

    <div id="home"><a href="/"><img src="../img/homebutton.png"></a></div>
    <div id="about"><a href="/aboutus"><img src="../img/aboutbutton.png"></a></div>
    <div id="fav"><a href="/favorites"><img src="../img/favbutton1.png"></a></div>
    <div id="playlist-nav"><a href="/playlist"><img src="../img/playlist-button-nav.png"></a></div>
    <div id="boardgame-nav"><a href="/boardgames"><img src="../img/boardgame-button-nav.png"></a></div>
    <div id="trivia-nav"><a href="/trivia"><img src="../img/trivia-button-nav.png"></a></div>

  </div>
</div>