<nav id ="big-nav">
  <a href="/"><img src="../img/homebutton.png"></a>
  <a href="/favorites"><img src="../img/favbutton1.png"></a>
  <a href="/aboutus"><img src="../img/aboutbutton.png"></a>
</nav>

<h1><a href="/">GAME NIGHT</a></h1>

<nav id ="big-nav">
  <a href="/boardgames"><img src="../img/boardgame-button-nav.png"></a>
  <a href="/trivia"><img src="../img/trivia-button-nav.png"></a>
  <a href="/playlist"><img src="../img/playlist-button-nav.png"></a>
</nav>


<nav id ="small-nav">
  <a href="/"><img src="../img/homebutton.png"></a>
  <a href="/favorites"><img src="../img/favbutton1.png"></a>
  <a href="/aboutus"><img src="../img/aboutbutton.png"></a>
  <a href="/boardgames"><img src="../img/boardgame-button-nav.png"></a>
  <a href="/trivia"><img src="../img/trivia-button-nav.png"></a>
  <a href="/playlist"><img src="../img/playlist-button-nav.png"></a>
</nav>